@import "../Message/message";
@import "../Progress/progress";
@import "./base/reset";

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
canvas{position: absolute; width: 100vw; height: 80vh;}