@import "./base/reset";
@import "./base/typography";
@import "./components/canvas";
@import "./components/projects_ui";
@import "./components/buttons";

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

button{
    background-color: blanchedalmond;
    color: black;
    min-width: 5rem;
}